{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Extole consumer-api",
    "description" : "This is a sample generated doc.",
    "contact" : {
      "email" : "support@extole.com"
    },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://extole-api.extole.io/api/",
    "description" : "ExtoleAPI"
  } ],
  "tags" : [ {
    "name" : "/v5/token",
    "description" : "Authorization"
  }, {
    "name" : "/v4/token",
    "description" : "AuthorizationV4"
  }, {
    "name" : "/v4/debug/logs",
    "description" : "CreativeLogging"
  }, {
    "name" : "/v4/me",
    "description" : "Me"
  }, {
    "name" : "/v4/me/assets",
    "description" : "MeAssets"
  }, {
    "name" : "/v4/me/rewards",
    "description" : "MeReward"
  }, {
    "name" : "/web/persons/{personId}/assets/",
    "description" : "PersonAssets"
  }, {
    "name" : "/v4/unsubscribe",
    "description" : "Unsubscribe"
  }, {
    "name" : "/events",
    "description" : "Event"
  }, {
    "name" : "/v6/zones",
    "description" : "Zone"
  } ],
  "paths" : {
    "/v5/token" : {
      "get" : {
        "tags" : [ "/v5/token" ],
        "summary" : "Get access token details",
        "description" : "It is optional to pass a token in the URL. If no token is passed in the URL it will attempt to return details about any implied token from authorization header.",
        "operationId" : "getTokenDetails",
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "code=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "/v5/token" ],
        "summary" : "Creates a new access token",
        "description" : "It is optional to pass an email or JWT, email attribute being applicable only if client identity key is \"email\"",
        "operationId" : "createToken",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateTokenRequest"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateTokenRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "code=email_not_applicable, message=Email attribute is not applicable for current identity key\n\ncode=invalid_access_token_duration, message=The duration provided with this request is invalid.\n\ncode=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=jwt_error, message=The jwt authentication verification failed.\n\ncode=invalid_email, message=Invalid email\n\ncode=email_mismatch, message=Mismatch in specified emails\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "/v5/token" ],
        "summary" : "Deletes the unique access token identified in the request from the associate user's profile.",
        "description" : "It is optional to pass a token in the URL. If no token is passed in the URL it will attempt to delete any implied token from authorization header.",
        "operationId" : "deleteToken",
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "code=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      }
    },
    "/v4/token" : {
      "get" : {
        "tags" : [ "/v4/token" ],
        "summary" : "By calling the Get Token endpoint a new access token is created.",
        "description" : "By calling the Get Token endpoint a new access token is created.  Extole will attempt to detect who the advocate is (based on cookies, browser fingerprint, etc) and provide them an access token with the greatest number of capabilities possible.  If Extole is unable to recognize the advocate the access token will only have the UPDATE_PROFILE capability available.",
        "operationId" : "getToken",
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenV4Response"
                }
              }
            }
          },
          "400" : {
            "description" : "code=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "/v4/token" ],
        "summary" : "Deletes the unique access token identified in the request from the associate user's profile.",
        "description" : "It is optional to pass a token in the URL.  If no token is passed in the URL it will attempt to delete any implied token that exists as a cookie, fingerprint, etc.",
        "operationId" : "deleteToken",
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "*/*" : { }
            }
          },
          "400" : {
            "description" : "code=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      }
    },
    "/v4/token/{token}" : {
      "get" : {
        "tags" : [ "/v4/token" ],
        "summary" : "Returns the unique access token associated with the user in the browser.",
        "operationId" : "getTokenDetails",
        "parameters" : [ {
          "name" : "token",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenV4Response"
                }
              }
            }
          },
          "400" : {
            "description" : "code=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "/v4/token" ],
        "summary" : "Deletes the unique access token identified in the request from the associate user's profile.",
        "description" : "It is optional to pass a token in the URL.  If no token is passed in the URL it will attempt to delete any implied token that exists as a cookie, fingerprint, etc.",
        "operationId" : "deleteToken",
        "parameters" : [ {
          "name" : "token",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "*/*" : { }
            }
          },
          "400" : {
            "description" : "code=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      }
    },
    "/v4/token/get" : {
      "post" : {
        "tags" : [ "/v4/token" ],
        "summary" : "Returns the unique access token associated with the user in the browser.",
        "description" : "Support POST to get token details to allow request without token in url.",
        "operationId" : "getTokenPost",
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenV4Response"
                }
              }
            }
          },
          "400" : {
            "description" : "code=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      }
    },
    "/v4/debug/logs" : {
      "post" : {
        "tags" : [ "/v4/debug/logs" ],
        "summary" : "Used to send log messages to Extole",
        "operationId" : "create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateCreativeLogRequest"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateCreativeLogRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateCreativeLogResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "code=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      }
    },
    "/v4/debug/metrics" : {
      "post" : {
        "summary" : "Record metric internally in grafana",
        "operationId" : "record",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreativeMetricRequest"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreativeMetricRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreativeMetricResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "code=invalid_metric_type, message=Metric type unsupported\n\ncode=invalid_key, message=Key must only contain alphanumerics and underscores\n\ncode=missing_required_field, message=Required field is missing\n\ncode=key_is_already_used, message=Key is already used for a different type of metric\n\ncode=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      }
    },
    "/v4/me" : {
      "get" : {
        "tags" : [ "/v4/me" ],
        "description" : "Will return profile information based on the access token used.",
        "operationId" : "getMyProfile",
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MyProfileResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "code=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      }
    },
    "/v4/me/rewards/status" : {
      "get" : {
        "tags" : [ "/v4/me/rewards" ],
        "description" : "Poll this endpoint in order to get Person reward",
        "operationId" : "getRewardStatus",
        "parameters" : [ {
          "name" : "polling_id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reward_name",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "partner_event_id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PollingRewardResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "code=invalid_reward_id, message=Invalid reward id. Reward not found.\n\ncode=invalid_reward_filter, message=Invalid reward filter, one of: polling_id, reward_name or partner_event_id are required\n\ncode=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      }
    },
    "/web/persons/{personId}/assets/{assetId}/download" : {
      "get" : {
        "tags" : [ "/web/persons/{personId}/assets/" ],
        "summary" : "Download asset by personId and assetId",
        "operationId" : "downloadAssetById",
        "parameters" : [ {
          "name" : "personId",
          "in" : "path",
          "description" : "The Extole unique profile identifier of this user at Extole.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "assetId",
          "in" : "path",
          "description" : "The Extole unique profile identifier of this asset at Extole.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "default_url",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "*/*" : { }
            }
          },
          "400" : {
            "description" : "code=invalid_person_id, message=Invalid person_id\n\ncode=invalid_profile_picture_url, message=Malformed profile_picture_url\n\ncode=invalid_person_email, message=Invalid person email\n\ncode=invalid_length_first_name, message=First Name length greater than 50 characters\n\ncode=invalid_length_last_name, message=Last Name length greater than 50 characters\n\ncode=person_email_already_defined, message=Person email already defined\n\ncode=partner_user_id_already_defined, message=Partner user id already defined\n\ncode=partner_user_id_invalid_length, message=Partner user id length greater than 255 characters\n\ncode=person_not_found, message=Person not found\n\ncode=asset_not_found, message=Asset not found\n\ncode=asset_content_not_downloadable, message=Asset content could not be downloaded\n\ncode=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      }
    },
    "/web/persons/{personId}/assets/download" : {
      "get" : {
        "tags" : [ "/web/persons/{personId}/assets/" ],
        "summary" : "Download asset by personId and name",
        "operationId" : "downloadAssetByName",
        "parameters" : [ {
          "name" : "personId",
          "in" : "path",
          "description" : "The Extole unique profile identifier of this user at Extole.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "default_url",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "*/*" : { }
            }
          },
          "400" : {
            "description" : "code=invalid_person_id, message=Invalid person_id\n\ncode=invalid_profile_picture_url, message=Malformed profile_picture_url\n\ncode=invalid_person_email, message=Invalid person email\n\ncode=invalid_length_first_name, message=First Name length greater than 50 characters\n\ncode=invalid_length_last_name, message=Last Name length greater than 50 characters\n\ncode=person_email_already_defined, message=Person email already defined\n\ncode=partner_user_id_already_defined, message=Partner user id already defined\n\ncode=partner_user_id_invalid_length, message=Partner user id length greater than 255 characters\n\ncode=person_not_found, message=Person not found\n\ncode=asset_not_found, message=Asset not found\n\ncode=asset_content_not_downloadable, message=Asset content could not be downloaded\n\ncode=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      }
    },
    "/v4/persons/{personId}/assets/{assetId}/download" : {
      "get" : {
        "summary" : "Download content for an asset",
        "operationId" : "downloadAssetById",
        "parameters" : [ {
          "name" : "personId",
          "in" : "path",
          "description" : "The Extole unique profile identifier of this user at Extole.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "assetId",
          "in" : "path",
          "description" : "The Extole unique profile identifier of this asset at Extole.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "*/*" : { }
            }
          },
          "400" : {
            "description" : "code=invalid_person_id, message=Invalid person_id\n\ncode=invalid_profile_picture_url, message=Malformed profile_picture_url\n\ncode=invalid_person_email, message=Invalid person email\n\ncode=invalid_length_first_name, message=First Name length greater than 50 characters\n\ncode=invalid_length_last_name, message=Last Name length greater than 50 characters\n\ncode=person_email_already_defined, message=Person email already defined\n\ncode=partner_user_id_already_defined, message=Partner user id already defined\n\ncode=partner_user_id_invalid_length, message=Partner user id length greater than 255 characters\n\ncode=person_not_found, message=Person not found\n\ncode=asset_not_found, message=Asset not found\n\ncode=asset_content_not_downloadable, message=Asset content could not be downloaded\n\ncode=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      }
    },
    "/v4/persons/{personId}/assets/download" : {
      "get" : {
        "summary" : "Download content for an asset",
        "operationId" : "downloadAssetByName",
        "parameters" : [ {
          "name" : "personId",
          "in" : "path",
          "description" : "The Extole unique profile identifier of this user at Extole.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "*/*" : { }
            }
          },
          "400" : {
            "description" : "code=invalid_person_id, message=Invalid person_id\n\ncode=invalid_profile_picture_url, message=Malformed profile_picture_url\n\ncode=invalid_person_email, message=Invalid person email\n\ncode=invalid_length_first_name, message=First Name length greater than 50 characters\n\ncode=invalid_length_last_name, message=Last Name length greater than 50 characters\n\ncode=person_email_already_defined, message=Person email already defined\n\ncode=partner_user_id_already_defined, message=Partner user id already defined\n\ncode=partner_user_id_invalid_length, message=Partner user id length greater than 255 characters\n\ncode=person_not_found, message=Person not found\n\ncode=asset_not_found, message=Asset not found\n\ncode=asset_content_not_downloadable, message=Asset content could not be downloaded\n\ncode=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      }
    },
    "/v4/persons/{personId}/assets" : {
      "get" : {
        "summary" : "Get a list of assets",
        "operationId" : "listAssets",
        "parameters" : [ {
          "name" : "personId",
          "in" : "path",
          "description" : "The Extole unique profile identifier of this user at Extole.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PersonAssetResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "code=invalid_person_id, message=Invalid person_id\n\ncode=invalid_profile_picture_url, message=Malformed profile_picture_url\n\ncode=invalid_person_email, message=Invalid person email\n\ncode=invalid_length_first_name, message=First Name length greater than 50 characters\n\ncode=invalid_length_last_name, message=Last Name length greater than 50 characters\n\ncode=person_email_already_defined, message=Person email already defined\n\ncode=partner_user_id_already_defined, message=Partner user id already defined\n\ncode=partner_user_id_invalid_length, message=Partner user id length greater than 255 characters\n\ncode=person_not_found, message=Person not found\n\ncode=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      }
    },
    "/v4/persons/{personId}/assets/{assetId}" : {
      "get" : {
        "summary" : "Gets Details for an asset",
        "operationId" : "readAsset",
        "parameters" : [ {
          "name" : "personId",
          "in" : "path",
          "description" : "The Extole unique profile identifier of this user at Extole.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "assetId",
          "in" : "path",
          "description" : "The Extole unique profile identifier of this asset at Extole.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonAssetResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "code=invalid_person_id, message=Invalid person_id\n\ncode=invalid_profile_picture_url, message=Malformed profile_picture_url\n\ncode=invalid_person_email, message=Invalid person email\n\ncode=invalid_length_first_name, message=First Name length greater than 50 characters\n\ncode=invalid_length_last_name, message=Last Name length greater than 50 characters\n\ncode=person_email_already_defined, message=Person email already defined\n\ncode=partner_user_id_already_defined, message=Partner user id already defined\n\ncode=partner_user_id_invalid_length, message=Partner user id length greater than 255 characters\n\ncode=person_not_found, message=Person not found\n\ncode=asset_not_found, message=Asset not found\n\ncode=asset_content_not_downloadable, message=Asset content could not be downloaded\n\ncode=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=missing_access_token, message=No access_token was provided with this request.\n\ncode=jwt_authentication_error, message=The jwt authentication failed.\n\ncode=invalid_access_token, message=The access_token provided with this request is invalid.\n\ncode=expired_access_token, message=The access_token provided with this request has expired.\n\ncode=access_denied, message=The access_token provided is not permitted to access the specified resource.\n\ncode=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "code=method_not_allowed, message=Access not allowed to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "406" : {
            "description" : "code=not_acceptable, message=Not Acceptable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "code=too_many_requests, message=The server is unable to process your request at the moment, please retry later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "HEADER" : [ ]
        }, {
          "COOKIE" : [ ]
        }, {
          "QUERY" : [ ]
        } ]
      }
    },
    "/v4/unsubscribe" : {
      "post" : {
        "tags" : [ "/v4/unsubscribe" ],
        "summary" : "Unsubscribes the email address from the specified list",
        "description" : "List name specifies the email list from which the unsubscribe must happenThe encrypted email is generated by the Extole platform and is unique to the email address.The encrypted email is not the email address itself.Source and other parameters are optional and are used for debugging/tracking purposes.",
        "operationId" : "unsubscribe",
        "parameters" : [ {
          "name" : "list_name",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "encrypted_email",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "source",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnsubscribeResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "code=missing_encrypted_email, message=The encrypted_email query parameter is required.\n\ncode=invalid_encrypted_email, message=The encrypted_email provided is not valid.\n\ncode=missing_list_name, message=The list_name query parameter is required.\n\ncode=unexpected_request, message=Received unexpected request\n\ncode=missing_request_body, message=Missing request body\n\ncode=invalid_parameter, message=Parameter is invalid.\n\ncode=invalid_json, message=JSON is invalid\n\ncode=invalid_json_non_parseable, message=Error occurred on json parse\n\ncode=invalid_json_malformed, message=Invalid json format\n\ncode=invalid_json_unknown_type_id, message=Type id is not valid\n\ncode=invalid_json_unrecognized_property, message=Unrecognized property found\n\ncode=binding_error, message=Argument is not of the expected type\n\ncode=timezone_invalid, message=Timezone is invalid or not ISO-8601 compliant\n\ncode=date_time_invalid, message=Provided string is not a valid date time or is not ISO 8601 compliant\n\ncode=unsupported_type, message=Provided string is not a supported value for the enum type\n\ncode=invalid_uri, message=Invalid URI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "code=method_unauthorized, message=Unauthorized access to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "code=method_unauthorized, message=Access forbidden to this endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "code=unsupported_media_type, message=Request had an unsupported or no media type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "code=method_not_found, message=Unable to find specified endpoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestExceptionResponse"
                }
              }
[...]
